.highlighted-annotation-area {
  border-style: solid;
  border-width: 1px;
}

.annotation-drawer {
  box-shadow:  0px -2px 2px #eee !important;
  max-height: 38vh !important;
}

.comment-text {
  padding: 5px;
}

.comment-head {
  box-shadow: 0 4px 2px #eee;
  padding-right: 4px;
  margin-bottom: 4px;
  border-radius: 0 0 10px 10px;
}

.comment-body {
  box-shadow: 0 4px 4px #eee;
  margin: 4px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.menu span {
  display: inline-block;
}

.menu ul {
  padding: 0;
}

.menu li {
  padding: 10px;
}

.menu Button {
  padding: 0;
  padding-right: 10px;
}

#post-annotation-btn {
  height: 24px;
  width: 24px;
  vertical-align: bottom;
  margin-bottom: 16px;
  margin-left: 24px;
  color: #108ee9;
}

#cancel-annotation-btn {
  height: 24px;
  width: 24px;
  vertical-align: bottom;
  margin-bottom: 16px;
  margin-left: 24px;
  color: #7f8c8d;
}

#annotation-being-created {
  z-index: 1;
  background-color: rgba(0, 170, 0, 0.18);
}

.cancel-comment-btn {
  height: 24px;
  width: 24px !important;
  padding-right: 8px;
  color: #7f8c8d;
}

.commit-comment-btn {
  height: 24px;
  width: 24px !important;
  padding-right: 8px;
  color: #108ee9;
}